<%- include ('partials/navbar.ejs')  %>
<%- include ('partials/header.ejs')  %>

<h1>Bem-vindo a homepage!</h1>    
<hr>
<p>Iniciando estudos com o Node.js...</p>

<%- include ('partials/footer.ejs')  %>
